<%= render '/user_card', user: @user %>
<article>
  <h5>Bio</h5>
  <p><%= @user.bio %></p>
</article>
<section class="mb-3">
  <% @user.three_most_recent_posts.each do |post| %>
    <%= link_to render('/post_card', post:), user_post_path(@user.id, post.id) %>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= link_to 'See all posts', user_posts_path(@user.id), class: 'btn btn-primary' %>
  </div>
</section>
