<%= form_with model: @like, method: @like.id ? :delete : :post, local: true do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <button class="heart-wrapper px-0" type="submit">
    <i class="<%= @like.id ? 'fa-solid ' : 'fa-regular ' %>fa-heart fs-1 text-primary"></i>
  </button>
<% end %>
