<%= form_with model: Like.new, local: true, class: 'd-flex justify-content-end mb-2' do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field 'like', value: !@liked %>
  <button class="heart-wrapper" type="submit">
    <i class="<%= @liked ? 'fa-solid ' : 'fa-regular ' %>fa-heart fs-1 text-primary"></i>
  </button>
<% end %>
