<main>
  <%= render '/user_card', user: @user %>
  <% @user.posts.sort.each do |post| %>
    <a href="posts/<%= post.id %>">
      <%= render '/post_card', post: %>
    <a>
    <% post.five_most_recent_comments.each do |comment| %>
      <%= render '/comment', comment: %>
    <% end %>
  <% end %>
</main>
