<main class="container mt-3">
  <%= render '/user_card', user: @user %>
  <% @user.posts.sort.each do |post| %>
    <section class="mb-5">
      <a href="posts/<%= post.id %>">
        <%= render '/post_card', post: %>
      <a>
      <div class="px-3">
        <% post.five_most_recent_comments.each do |comment| %>
          <%= render '/comment', comment: %>
        <% end %>
      </div>
    </section>
  <% end %>
</main>
