// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import 'font-awesome';

a {
  color: inherit;
  text-decoration: none;
}

.mt-neg {
  margin-top: -60px;
}

.heart-wrapper {
  border: none;
  padding-inline: 0px;
  background-color: inherit;
}
