<div class="card mb-3 pe-1">
  <div class="row g-0">
    <div class="col-3">
      <img
        class="img-fluid rounded-start"
        src="<%= user.photo %>"
        alt="user#<%= user.id %>_photo"
      />
    </div>
    <div class="col-5 d-flex flex-column justify-content-center">
      <h3 class="mb-0 text-center"><%= user.name %></h3>
    </div>
    <div class="col d-flex flex-column justify-content-end">
      <small class="mb-3 text-center">Number of posts: <%= user.posts_counter %></small>
    </div>
  </div>
</div>
